*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-height: 46px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.white-text{
    color:#fff !important;
}

.col{
    display: flex;
    justify-content: center;
    margin-left: -8px;
    margin-right: -8px;
}

.col-three{
    width: 33.3333%;
}

.col-half{
    width: 50%;
}

#header{
    height: var(--header-height);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav{
    display: flex;
    position: relative;
}

#nav li{
    list-style: none;
    position: relative;
}

#nav li a{
    color: #fff;
    padding: 0px 24px;
    line-height: var(--header-height);
    text-decoration: none;
}

#nav > li:hover > a,
.subnav li:hover a{
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav .subnav{
    min-width: 160px;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100%;
    left: 0;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

.dropdown-icon{
    font-size: 12px;
}

.search-button{
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:hover{
    background-color: red;
    cursor: pointer;
}

.search-button .search-icon{
    color: white;
    font-size: 24px;
    line-height: var(--header-height);
    padding: 0 19px;
}

#slider{
    position: relative;
    margin-top: var(--header-height);
    padding-top: 50%;
    background-image:url(/assets/img/chicago.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

#slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: calc(32px + 15px);
}

#slider .text-header{
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 25px;
}

#slider .text-description{
    font-size: 15px;
    font-weight: 700;
}

#content .content-section{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .section-heading{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    margin: 15px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin: 1px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

.member-section{
    /* display: flex;
    justify-content: center; */
    padding: 32px;
    text-align: center;
}

.member-section .member{
    /* width: 33.33333%; */
}

.member .member-name{
    margin: 15px;
}

.member .member-img{
    width: 154px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.tour-section{
    background-color: #000;
}

.ticket-list{
    background-color: #fff;
}

.ticket-list li{
    list-style: none;
    color: #757575;
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: #757575 1px solid;
}

.ticket-list .sold-out{
    margin-left: 16px;
    color: #fff;
    background-color: #f44336;
    padding: 4px 6px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #000;
    border-radius: 100%;
    text-align: center;
    line-height: 24px;
    margin-right: 8px;
    margin-top: -3px;
}

.place{
    /* display: flex;
    justify-content: center; */
    padding: 32px 0px;
    /* margin-left: -8px;
    margin-right: -8px; */
}

.place .place-item{
    /* width: 33.33333%; */
    margin-bottom: 16px;
    padding: 0 8px;
}

.place .place-item img{
    width: 100%;
    display: block;
}

.place .place-item img:hover{
    opacity: 0.6;
}

.place-item .place-info{
    background-color: #fff;
    padding: 0.15px 16px;
}

.place-item .place-name{
    font-size: 15px;
    margin: 15px 0;
}

.place-item .place-date{
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.6;
}

.place-item .place-desc{
    font-size: 15px;
    margin: 15px 0;
}

.place .buy-button{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #000;
    margin-bottom: 15px;
    padding: 8px 16px;
}

.modal{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    position: relative;
    width: 900px;
    background-color: #fff;
    animation: modalFadeIn 0.5s ease;
}

.modal-header{
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    padding: 42px 16px;
    text-align: center;
}

.modal-close{
    position: absolute;
    right: 0;
    padding: 16px;
    color: #fff;
}

.modal-close:hover{
    background-color: #f44336;
}

.modal-body{
    padding: 16px;
    font-size: 16px;
}

.modal-body input{
    display: block;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 16px;
    width: 100%;
    border: 1px #ccc solid;
}

.pay-button{
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #009688;
    padding: 16px;
}

.pay-button:hover{
    background-color: #ccc;
    color: #000;
}

.modal-footer{
    padding: 16px;
    float: right;
}

.modal-footer .need-help{
    margin-bottom: 12px;
}

#footer{

}

@keyframes modalFadeIn{
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}